.container__pedidos{
    width: 100%;
    height: auto;
}
.container__pedidos__tarjetas{
    width: 100%;
    padding: 20px;
}
.titulo__pedidos{
    padding: 20px;
    font-size: 60px;
    color: black;
}
.container__pedidos__titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}