
@media screen and (max-width: 900px){
.categoria__tarjetas{
    justify-content: end;
    gap: 30px;
    
}


}


@media screen and (max-width: 820px){
    .categoria__tarjetas{
        justify-content: center;
        gap: 30px;
        
    }
    .categoria__enlaces{
        display: none;
    }
    .container__responsive__accordion{
        display: flex;
    }
    .container__responsive__accordion{
        margin: 20px;
    }

    .container__tarjeta{
        width: 220px;
        height: 400px;
        margin: 10px;
        position: relative;
        margin-bottom: 30px;
        
    }
    
    
 .categoria__tarjetas{
    display: flex;
    justify-content: center;
    padding-left: 0px;

    
 }

    
    }




@media screen and (max-width: 600px){
    .categoria__tarjetas{
        justify-content: center;
        gap: 30px;
        
    }
    .categoria__enlaces{
        display: none;
    }
    .container__responsive__accordion{
        display: flex;
    }
    .container__responsive__accordion{
        margin: 20px;
    }

    .container__tarjeta{
        width: 220px;
        height: 400px;
        margin: 10px;
        position: relative;
        margin-bottom: 30px;
        
    }
    
    
 .categoria__tarjetas{
    display: flex;
    justify-content: center;
    padding-left: 0px;

    
 }
 .categoria__titulo{
    display: flex;
    flex-direction: column;
    padding: 15px 10px 10px 20px;
    gap: 10px;
    align-items: center;
}

    
    }
    
    
    


