
.container__datosCliente h1{
  color: white ;
  font-size: 25px;

}

.container__datosCliente h2{
  color: white;
  font-size: 35px;

}
  .container__tarjeta__pedidos{
    width: 100%;
    height: auto;
    border-radius: 4px;
    padding: 20px;
    margin: 15px;
    background-color: rgb(80, 182, 185);
  }
  .container__botones__pedidos{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 50px;
    gap: 10px;
  }
  .button__eliminarPeido{
    border-radius: 4px;
    color: white;
    background-color: rgb(80, 182, 185);
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-family:"Nunuto";

  }